@font-face{
	font-family: 'segoeui';
	src : url ('segoeui.ttf') format('truetype');
}

@font-face{
	font-family: 'segoeuii';
	src : url ('segoeuii.ttf') format('truetype');
	font-weight: lighter;
}

@font-face{
	font-family: 'segoeuil';
	src : url ('segoeuil.ttf') format('truetype');
}

@font-face{
	font-family: 'segoeuiz';
	src : url ('segoeuiz.ttf') format('truetype');
}

@font-face{
	font-family: 'seguisb';
	src : url ('seguisb.ttf') format('truetype');
}

@font-face {
	font-family: 'msyi';
	src: local('☺'), url('msyi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir';
	src: local('☺'), url('AvenirNextLTPro-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir-pro';
	src: local('☺'), url('AvenirNextLTPro.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir-demi';
	src: local('☺'), url('AvenirNextLTPro-Demi.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-condensed';
	src: local('☺'), url('AvenirNextLTPro-MediumCondensed.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-bold';
	src: local('☺'), url('AvenirNextLTPro-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'californian';
	src: local('☺'), url('Californian-FB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Novecento";
	src: local('☺'), url('Novecentowide-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}