	
#content .titlebarLeftc, .titlebarLeftc{
 	background:url(../images/title_bar_leftc.gif) no-repeat;
	height:28px;
 }
 #content .titlebarRightc, .titlebarRightc{
	background:url(../images/title_bar_rightc.gif) no-repeat right top;
	height:28px;
}
 #content .titlebar, .titlebar{
	background:url(../images/title_bar_bg.gif) repeat-x left top;
	height:28px;
	margin:0 8px;
}
.dataGrid_container{
	border:1px solid #bababa;
	border-top:none;
	
}
.dataGrid_container2{
	border:1px solid #bababa;
	border-top:none;
	height:100px;
	overflow:auto;
}
.dataGrid_container3{
	border:1px solid #bababa;
	border-top:none;
	height:100px;
	overflow:auto;
}
.dataGrid_container4{
	border:1px solid #bababa;
	border-top:none;
	height:640px;
	overflow:auto;
}
.dataGrid {
	background:#ffffff;
	font-weight:normal;
}
.dataAlterRw1{
	background:#fff;
	border-bottom:1px solid #e7e6e6;
}
.dataAlterRw2{
	background:#fafafb;
	border-bottom:1px solid #e7e6e6;
}
.dataGridHdr, .dataGrid {
	color:#676f72 !important;
	line-height:25px;
	font-size:12px;
	
}
.dataGridHdr td:hover {
	background:url(../images/gridHdrhovr_img.gif) bottom repeat-x #fafafb;
	}
.dataGridHdr_boder {
	border-right:1px solid #cfcece; 
	padding:0 3px;
}
.dataGridHdr_boder2 {
	border-right:1px solid #cfcece; 
	padding:0 7px 0 7px;
}
.dataGridHdr_boder3 {
	padding:0 7px 0 7px;
}
.dataGrid_container{
	border:1px solid #bababa;
	border-top:none;
	
}
.dataGrid_container2{
	border:1px solid #bababa;
	border-top:none;
	height:100px;
	overflow:auto;
}
.dataGrid_container3{
	border:1px solid #bababa;
	border-top:none;
	height:100px;
	overflow:auto;
}
.dataGrid_container4{
	border:1px solid #bababa;
	border-top:none;
	height:640px;
	overflow:auto;
}




.adqstdts {
	min-height:75px;
	background:#f0f0f1;
	border:1px solid #dbdbdc;
	border-left:none;
	border-right:none;
	margin-top:7px;
	padding:7px;
	}
.asdDts {
	color:#737374;
	font-size:12px;
	font-weight:normal;
	line-height:25px;
	}
.printAd {
	background:url(../images/printer.png) no-repeat ;
	padding-left:25px;
	padding-bottom:2px;
	padding-top:2px;
	color:#737374;
	}
.exportAd {
	background:url(../images/document-export.png) no-repeat ;
	padding-bottom:2px;
	padding-left:25px;
	padding-top:2px;
	color:#737374;
}
.adCntnr .acco2 .expand {
	background:#E6E6E6 ;
	line-height:28px;
	border: solid thin #E0E0E0;
	padding-left:5px;
	}
.adCntnr .acco2 .expand a{
	background:url(../images/rnd_plus_icon.png) no-repeat 98% 4px;
	padding-left:14px;
	text-decoration:none;
	display: block;
	}
.adCntnr .acco2 .openAd a{
	background:url(../images/rnd_minus_icon.png) no-repeat 98% 4px ;
	padding-left:25px;
	color:#333 !important;
	text-decoration:none;
	}

.adCntnr .acco2 .openAd {
	background:#E6E6E6;
	line-height:29px;
	border-left:1px solid #cfcece;
	border-right:1px solid #cfcece;
	height:29px;
	padding-left: 0px !important;
	}

.adCntnr .acco2 .expand a{
	color:#676f72;
	min-height:29px;
	}
	
.adCntnr  .accCntnt {	
	border:1px solid #cfcece;
	border-top:none;
	padding:25px;
	background:#FFFFFF;
	color: #000;
	}
.adCntnr .accCntnt p{
	font-weight:normal;
	color:#333;
}