@charset "utf-8";
/* 
	visual @media queries
	@ http://xycss.com/xy/tools/media-queries/
	ver 1.1 @ 2012.01.10
	license: GNU General Public License
	jeff starr @ http://perishablepress.com/
*/

/* display @media query info */
#media-query:after { 
	content: "@media default styles"; 
	}
/* small screens (portrait and landscape) */
@media only screen and (min-width: 320px) and (max-width: 480px) { 
	#media-query:after { content: "@media (min-width: 320px) and (max-width: 480px)"; } 
	}
/* small screens (landscape) */
@media only screen and (min-width: 321px) { 
	#media-query:after {} 
	}
/* small screens (portrait) */
@media only screen and (max-width: 320px) {
	#media-query:after { content: "@media (max-width: 320px)"; }
	}
/* medium small screens */
@media only screen and (max-width: 480px) {
	#media-query:after { content: "@media (max-width: 480px)"; }
	}
/* medium screens (excludes iPad & iPhone) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
	#media-query:after { content: "@media (min-width: 481px) and (max-width: 767px)"; }
	}
/* ipads (portrait and landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { 
	#media-query:after { content: "@media (min-device-width: 768px) and (max-device-width: 1024px)"; }
	}
/* ipads (landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { 
	#media-query:after { content: "@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)"; } 
	}
/* ipads (portrait) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#media-query:after { content: "@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)"; }
	}
/* medium large screens */
@media only screen and (min-width: 1444px) and (max-width: 1824px) {
	#media-query:after { content: "@media (min-width: 1444px) and (max-width: 1824px)"; }
	}
/* large screens */
@media only screen and (min-width: 1824px) {
	#media-query:after { content: "@media (min-width: 1824px)"; }
	}
/* extra large screens */
@media only screen and (min-width: 2224px) {
	#media-query:after { content: "@media (min-width: 2224px)"; }
	}
/* iphone 4 and high pixel ratio (1.5+) devices */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	#media-query:after { content: "@media (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)"; }
	}
/* iphone 4 and higher pixel ratio (2+) devices (retina) */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#media-query:after { content: "@media (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)"; }
	}

